h1,
h2,
h3,
h4,
h5,
h6 {
  background: -webkit-linear-gradient(
    90deg,
    #00ffa3,
    #03e1ff,
    #dc1fff
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  display: inline-block !important; /* This makes sure the background only covers the text */
}

.logo-class {
  height: 55px; /* Adjust the height as needed */
  width: auto; /* This will maintain the aspect ratio of the logo */
}

.logo-footer {
  height: 175px; /* Adjust the height as needed */
  width: auto; /* This will maintain the aspect ratio of the logo */
}

.tier-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  max-width: 800px; /* Adjust width as needed */
  margin: 0 auto; /* Center the carousel */

  overflow: hidden;
  position: relative; /* Needed for pseudo-element positioning */
}

.tier-card {
  text-align: center; /* Center tier content */
  width: 100%; /* Make the tier card fill the space */
  backdrop-filter: blur(5px);
  border-radius: 10px;
  position: relative;
}

.tier-name {
  font-size: 1.5rem; /* Larger font for tier names */
  font-weight: bold;
  margin-bottom: 2rem; /* Space below the tier name */
  letter-spacing: 1px;
}

.tier-benefits {
  padding-left: 1.5rem; /* Space for bullet points */
  text-align: left; /* Align text to the left */
  margin: 0 auto; /* Centering the list if needed */
  display: inline-block; /* For center alignment of the list */
}

.tier-benefits li {
  margin-bottom: 0.1rem; /* Increase bottom margin for more space */
  padding: 10px 0; /* Add padding for visual space */
  position: relative;
  padding-left: 30px; /* Make room for bullet points */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  text-align: left;
}

.tier-benefits li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 10px; /* Increase the size for masking */
  width: 10px; /* Increase the size for masking */
  background: linear-gradient(
    45deg,
    #00ffa3,
    #03e1ff,
    #dc1fff
  ); /* The gradient */
  border-radius: 50%; /* Makes it round */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Optional: Add a glow effect */
}

.arrow {
  cursor: pointer; /* Indicate that arrows are clickable */
  font-size: 2rem; /* Larger arrows */
  user-select: none; /* Prevent text selection on double click */
  padding: 0 1rem; /* Easier to click */
  transition: transform 0.2s;
}

.arrow:hover {
  transform: scale(1.2); /* Slightly enlarge arrows on hover */
}

.tier-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.left-arrow {
  margin-right: 1rem; /* Space between arrow and content */
}

.right-arrow {
  margin-left: 1rem; /* Space between content and arrow */
}

/* Optional: hover effect for arrows */
.arrow:hover {
  color: #00bfff; /* Change color on hover */
}

/* Adjustments for mobile view */
@media (max-width: 768px) {
  .tier-carousel {
    position: relative; /* Set position context for absolute children */
    flex-direction: row; /* Keep the arrows on the sides */
    justify-content: space-between; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    padding: 1rem 0;
  }

  .arrow {
    font-size: 1.5rem;
    position: absolute; /* Position arrows absolutely within the tier-carousel */
    top: 50%; /* Center vertically */
    z-index: 10; /* Ensure arrows are above other elements */
  }

  .left-arrow {
    left: -16px; /* Increase spacing from the left edge */
  }

  .right-arrow {
    right: -16px; /* Increase spacing from the right edge */
  }

  .tier-card {
    padding: 1rem; /* Adjust padding */
    flex: 1; /* Allow tier card to expand and use available space */
    text-align: center; /* Ensure text is centered within the tier card */
    position: relative; /* Ensure tier card is relative for arrow positioning */
    margin: 0 1.5rem;
  }
}

.custom-description-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  /* Remove display: none to allow for transitions */
  opacity: 0; /* Start fully transparent */
  max-height: 0; /* Start with no height */
  overflow: hidden; /* Prevent content from spilling out */
  visibility: hidden; /* Make the list not visible */
  transition: opacity 0.5s, max-height 0.5s, visibility 0s 0.5s; /* Add visibility to the transition */
}

.custom-description-list li {
  margin-bottom: 5px; /* Adds space between list items */
}

.your-custom-class-for-item:hover .custom-description-list {
  opacity: 1; /* Fully visible */
  max-height: 500px; /* Adjust based on the maximum size of your content */
  visibility: visible; /* Make the list visible */
  transition-delay: 0s; /* Apply transition delay to 0s when hovering */
}

.your-custom-class-for-item .development-title p:first-child {
  text-align: center;
}

.your-custom-class-for-item .development-title p:first-child {
  background: -webkit-linear-gradient(90deg, #00ffa3, #03e1ff, #dc1fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier-card p:first-child {
  background: -webkit-linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* This makes sure the background only covers the text */
}

.feature-card-wrapper .i-heroicons-currency-dollar {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.feature-card-wrapper .i-heroicons-eye {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Apply the actual gradient to the title text */
.feature-card-wrapper p:first-of-type {
  background: -webkit-linear-gradient(90deg, #00ffa3, #03e1ff, #dc1fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-card-wrapper .i-heroicons-shield-check {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.feature-card-wrapper .i-heroicons-cog {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.feature-card-wrapper .i-heroicons-light-bulb {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.feature-card-wrapper .i-heroicons-users {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.i-simple-icons-telegram:hover {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
}

.i-simple-icons-discord:hover {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
}
.i-simple-icons-x:hover {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
}
.i-simple-icons-solana:hover {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
}

a.i-simple-icons-solana {
  background: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff);
}
